<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>

<!-- DELETE AFTER USING OWN CSS-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <!-- END DELETE               -->

</head>
<body>
	<a href = "/"> Home </a>
	<h3> {{title}} </h3>
	<p>
		{%for sent in sentences -%}
				{{sent['text']}}
				<br>
				{{sent['tone']}}
				<br> 
				{{sent['precent']}}
				<br><br><br>
		{%- endfor %}

	</p>
</body>
</html>