<!doctype html>
<html lang="en">
  <head>
    <title>Wide Angle Lens View</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="css/foundation.css" />-->
  </head>

  <body style="background-color: goldenrod;">
    <a href="/"><h1 style="text-align: center;">Guardian Text Analysis</h1></a>
    
    <br> 

<!--    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Search</span>
      <input type="text" class="form-control" placeholder="Search for Keyword" aria-describedby="basic-addon1">
    </div>-->

<div class="row">
  <div class="col-lg-6">
	  <form action = "/">
			<div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
      <input type="text" class="form-control" placeholder="Search for..." name="keyword">
    </div><!-- /input-group -->
 </form>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

    <br>

    <table class="table table-hover">
      <thead>
	<tr>
          <th style="text-align: center;" width = "200">Article</th>
          <th style="text-align: center;" width = "200">Tones</th>
	</tr>
      </thead>
      
      <tbody>
      {% for article in articles %}
      <tr>
        <td><a href='/article?title={{ article["title"] }}'> {{ article["title"] }}</a></td>
        <td>

  <!-- <div class="progress-bar" role="progressbar" style='width: {{ article["titleEmotions"]["scores"][0] }}%' aria-valuenow='{{ article["titleEmotions"]["scores"][0] }}' aria-valuemin="0" aria-valuemax="100">{{article["titleEmotions"]["tones"][0]}}: {{ article["titleEmotions"]["scores"][0] }}</div> -->
  
  {% for score in article["titleEmotions"]["scores"] %}
    <div class="progress">
      <div class="progress-bar" role="progressbar" style='width: {{ score }}%' aria-valuenow='{{ score }}' aria-valuemin="0" aria-valuemax="100">{{ article["titleEmotions"]["tones"][loop.index0] }}: {{ score }}</div>
    </div>
    <br>
  {% endfor %}
  

        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

<p><a class="show-on-focus" href="#mainContent">Skip to Content</a></p>
<header id="header" role="banner">
</header>
<main id="mainContent" role="main" tabindex="0">
</main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
